* {
    box-sizing: border-box;
}

#top{
    background-color: #ffffff;
    height: 52px;
    width: 100%;
    margin: 0 auto;
}

#topbar{
    background-color: #ffffff;
    border-color: #cccccc;
    width:960px;
    height: 52px;
    margin: 0 auto;
}

h1{
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    float: left;
    background-color: #4aaaa5;
    color: white;
    padding: 10px 10px;
    font-size: 24pt;
    font-weight: bold;
}

.links{
    float: right;
    margin-top: 16.5px;
}

a{      
    text-decoration: none;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color: #777777;
    font-size: 14pt;
    margin-left: 25px;
}

a:hover{
    background-color:gray;
    color: white;
}

a:active{
    background-color: #4d4c4c;
    color: white;
}

body{
    display: block;
    background-color: #cccccc;
}

#content{
    position: relative;
    clear: none;
    background-color: white;
    width: 960px;
    height: auto;
    padding: 20px;
    margin: 20px auto;
}

#portcontent{
    position: relative;
    clear: none;
    background-color: white;
    width: 960px;
    height: 1100px;
    padding: 20px;
    margin: 20px auto;
}

#contact{
    position: relative;
    clear: none;
    width: 960px;;
    height: auto;
    padding: 20px;
    margin: 20px auto;
}

#forms{
    position: relative;
    clear: none;
    background-color: white;
    width: 60%;
    height: auto;
    padding: 20px;
    margin: 20px auto;
    float: left;
}

#connect{
    position: relative;
    clear: none;
    background-color: white;
    width: 30%;
    height: auto;
    padding: 20px;
    margin: 20px auto;
    float: right;
}

h2{
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color: #4aaaa5;
    padding: 10px 10px;
    font-size: 24pt;
    font-weight: bold;
}

h3{
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color: #4aaaa5;
    padding: 10px 10px;
    font-size: 18pt;
    font-weight: bold;
}

#separator{
    background-color: #777777;
    width: 100%;
    height: 2px;
}

.profile{
    float: left;
    margin: 10px;
    max-height: 128px;
}

.portfoto{
    float: left;
    margin: 30px;
    max-height: 256px;
}

.social{
    float: left;
    margin: 10px 0 10px 10px;
    max-height: 50px;
}
/* Need to fix twitter logo dropping */

p{
    font-size: 24px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    margin: 10px;
    padding-top: 10px;
}

form{
    font-size: 18px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    margin: 10px;
    padding-top: 10px;
}

input{
    margin: 10px;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #666666;
    border-top-color: #4aaaa5;

}

.Copyright{
    text-align: center;
    color: white;
}


/* Need to figure out individual text box sizing */